/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    gap: 35px;
    display: flex;
    width:auto;
    background-color: white;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.main-container {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .acti img {
    object-fit: cover;
}
.card-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-title {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-content2 {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
}
.card-content2 img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-txt {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.card-txt2 {
    padding-left: 15px;
    padding-right: 15px;
    gap: 4px;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 68%;
    height: 614px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.card2 {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.card2 img{
    object-fit: cover;
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}   
.hebergements-title{
    width: 100%;
    height: 26px;
}    
.liste-hebergement{
    width: 27%;
}
/****** Populaires ***********/
.populaires  {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img{
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
header img{
    width: 61px;
    height: 19px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width:25%;
    height:49px;
    gap:24px;
    margin-top: 25px;
  }
  
.search-icon {
    background-color: #f3f3f3;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 49px;
  }
  
.search-icon i {
    font-size: 18px;
  }
  
.search-input {
    flex: 1;
    border: none;
    font-size: 18px;
    outline: none;
    color: #000000;
    width: 147px;
    height: 21px;
    font-weight:bold;
  }
  
.search-input::placeholder {
    color: #000000;
  }
  
.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 132px;
    height: 49px;
  }
  
.search-button:hover {
    background-color: #0056b3;
  }

.Filtres {
    width: 54px;
    height: 21px;
}
.Filtres4{
    height: 50px;
    gap: 15px;
    display: flex;
    justify-items: start;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 35px;
    font-weight: bold;
  }
.Economique{
    width: 169px;
    height: 50px;
    border: solid 2px #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 10px ;
  }
.Economique:hover{
    background-color: #DEEBFF;
  }
.Familial{
    width: 130px;
    height: 50px;
    border: solid 2px #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 10px ;
  }
  .Familial:hover{
    background-color: #DEEBFF;
  }
.Romantique{
    width: 166px;
    height: 50px;
    border: solid 2px #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 10px ;
  }
.Romantique:hover{
    background-color: #DEEBFF;
  }
.Nos-pépites{
    width: 166px;
    height: 50px;
    border: solid 2px #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 10px ;
  }
.Nos-pépites:hover{
    background-color: #DEEBFF;
  }
.Info{
   height: 24px;
   gap: 10px;
   display: flex;
   text-align: start;
   justify-content: start;
   padding-bottom: 25px;
  }
.logo_booki{
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.bouton_header{
    display: flex;
    gap:68px;
    height: 35px;
}

.bouton_hebergements:hover, .bouton_Activités:hover{
    color: #0065FC;
    border-top: #0065FC 1px solid;
}
.bouton_Activités,.bouton_hebergements{
    display: flex;
    align-items: flex-end;
}
.Activités_marseille {
    list-style: none;
    gap: 30px;
    padding: 30px;
}
.Activités_marseille img {
    width: 100%;
    height: 380px;
}
.acti {
    display: flex;
    gap: 30px;
}
.Footer {
    background-color: #F2F2F2;
    display: flex;
} 
.a_propos ,.Nos_hebergements ,.Assistance{
    width: 33%;
}
.afficher-txt {
    width: 100%;
    height: 21px;
}
h3{
    display: contents;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;

    }
    .acti{
       width: 100%;
    }
    
    .card-content2 {
        width: 50%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards, .card-subtitle {
        font-size: 13px;
    }
    .Activités_marseille{
        width: 100%;
        gap:30px

    }
    .img {
        max-width: 100%;
        height: auto;
    }
    
}
/* Small devices (phones, less than 768px) */

@media screen and (max-width: 768px) {

}